<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiangong.chargingPile">

    <uses-permission android:name="android.permission.HARDWARE" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.MultiDexApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>


                <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter" />

            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity.OneKeyTestActivity" />
        <activity android:name=".activity.FaultSimulationActivity" />
        <activity android:name=".activity.OneKeyTestReportActivity" />
        <activity android:name=".activity.ParamaterSettingActivity" />
        <activity
            android:name=".activity.DataManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.SystemSettingActivity" />
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DataOutPutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
    </application>

</manifest>